generic-service:
  nameOverride: hmpps-manage-users-api
  productId: DPS017

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-manage-users-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-manage-users-api-cert
    path: /

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash,delius,nomis,external-users"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    DELIUS_ROLES_MAPPINGS_CTRBT001: "ROLE_PF_STD_PROBATION,ROLE_GLOBAL_SEARCH"
    DELIUS_ROLES_MAPPINGS_CTRBT002: "ROLE_PF_APPROVAL"
    DELIUS_ROLES_MAPPINGS_CTRBT003: "ROLE_PF_NATIONAL_READER"
    DELIUS_ROLES_MAPPINGS_CTRBT004: "ROLE_PF_HQ"
    DELIUS_ROLES_MAPPINGS_CTRBT005: "ROLE_PF_USER"
    DELIUS_ROLES_MAPPINGS_CTRBT006: "ROLE_PF_ADMIN"
    DELIUS_ROLES_MAPPINGS_CWBT200: "ROLE_PREPARE_A_CASE"
    DELIUS_ROLES_MAPPINGS_LHDCBT001: "ROLE_LICENCE_RO,ROLE_LICENCE_RO_READ_ONLY,ROLE_GLOBAL_SEARCH"
    DELIUS_ROLES_MAPPINGS_LHDCBT002: "ROLE_LICENCE_RO,ROLE_GLOBAL_SEARCH"
    DELIUS_ROLES_MAPPINGS_LHDCBT003: "ROLE_LICENCE_RO,ROLE_LICENCE_VARY,ROLE_GLOBAL_SEARCH"
    DELIUS_ROLES_MAPPINGS_SOCBT001: "ROLE_SOC_COMMUNITY"
    DELIUS_ROLES_MAPPINGS_SOCBT003: "ROLE_SOC_DATA_MANAGER"
    DELIUS_ROLES_MAPPINGS_SOCBT004: "ROLE_SOC_DATA_ANALYST"
    DELIUS_ROLES_MAPPINGS_MAWBT001: "ROLE_WORKLOAD_MEASUREMENT"
    DELIUS_ROLES_MAPPINGS_MAABT001: "ROLE_MANAGE_A_WORKFORCE_ALLOCATE"
    DELIUS_ROLES_MAPPINGS_MASBT001: "ROLE_MANAGE_SUPERVISIONS_RO"
    DELIUS_ROLES_MAPPINGS_MASBT002: "ROLE_MANAGE_SUPERVISIONS_RO,ROLE_MANAGE_SUPERVISIONS"
    DELIUS_ROLES_MAPPINGS_CVLBT001: "ROLE_LICENCE_ACO"
    DELIUS_ROLES_MAPPINGS_MRDBT001: "ROLE_MAKE_RECALL_DECISION"
    DELIUS_ROLES_MAPPINGS_MRDBT002: "ROLE_MAKE_RECALL_DECISION_SPO"
    DELIUS_ROLES_MAPPINGS_TCBT006: "ROLE_RESETTLEMENT_PASSPORT_EDIT"
    DELIUS_ROLES_MAPPINGS_MRDBT003: "ROLE_MAKE_RECALL_DECISION_PPCS"
    DELIUS_ROLES_MAPPINGS_MRDBT004: "ROLE_MAKE_RECALL_DECISION_ADMIN"
    DELIUS_ROLES_MAPPINGS_MRDBT005: "ROLE_MAKE_RECALL_DECISION_SUPPORT"
    DELIUS_ROLES_MAPPINGS_MRDBT006: "ROLE_MARD_DUTY_MANAGER"
    DELIUS_ROLES_MAPPINGS_MRDBT007: "ROLE_MARD_RESIDENT_WORKER"
    DELIUS_ROLES_MAPPINGS_CIDBT001: "ROLE_CASE_INFO_DASHBOARD"
    DELIUS_ROLES_MAPPINGS_TCSBT001: "ROLE_TIER_SERVICE_USER"
    DELIUS_ROLES_MAPPINGS_IMSBT001: "ROLE_IMS_USER"
    DELIUS_ROLES_MAPPINGS_CAS2BT001: "ROLE_CAS2_COURT_BAIL_REFERRER"
    DELIUS_ROLES_MAPPINGS_CAS2BT002: "ROLE_CAS2_PRISON_BAIL_REFERRER"
    DELIUS_ROLES_MAPPINGS_EDSBT001: "ROLE_EM_DATASTORE_GENERAL_RO"
    DELIUS_ROLES_MAPPINGS_EDSBT002: "ROLE_EM_DATASTORE_RESTRICTED_RO"
    DELIUS_ROLES_MAPPINGS_SPLNBT001: "ROLE_SENTENCE_PLAN"
    DELIUS_ROLES_MAPPINGS_WPBT300: "ROLE_BREACH_NOTICE_USER"
    DELIUS_ROLES_MAPPINGS_RMBT002: "ROLE_ACCREDITED_PROGRAMME_COMMUNITY_PROGRAMME_TEAM"
    DELIUS_ROLES_MAPPINGS_ESUPBT001: "ROLE_ESUPERVISION__PRACTITIONER__RW"
    DELIUS_ROLES_MAPPINGS_WPBT302: "ROLE_SUICIDE_RISK_USER"
    DELIUS_ROLES_MAPPINGS_RMBT003: "ROLE_CONTRACT_MANAGER_VIEW_GROUP"
    DELIUS_ROLES_MAPPINGS_WPBT301: "ROLE_COSSO_USER"
    DELIUS_ROLES_MAPPINGS_UWBT200: "ROLE_CP_SUPERVISE_SESSION"
    DELIUS_ROLES_MAPPINGS_UWBT201: "ROLE_CP_RECORD_PROGRESS"
    DELIUS_ROLES_MAPPINGS_UWBT202: "ROLE_CP_ALLOCATE_SUPERVISOR"
    DELIUS_ROLES_MAPPINGS_SASBT001: "ROLE_SINGLE_ACCOMMODATION_SERVICE_PROBATION_PRACTITIONER"


  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-manage-users-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-manage-users-api:
      HMPPS_AUTH_CLIENT_CLIENT_ID: "AUTH_CLIENT_ID"
      HMPPS_AUTH_CLIENT_CLIENT_SECRET: "AUTH_CLIENT_SECRET"
      DELIUS_CLIENT_CLIENT_ID: "DELIUS_CLIENT_ID"
      DELIUS_CLIENT_CLIENT_SECRET: "DELIUS_CLIENT_SECRET"
      NOMIS_CLIENT_CLIENT_ID: "NOMIS_CLIENT_ID"
      NOMIS_CLIENT_CLIENT_SECRET: "NOMIS_CLIENT_SECRET"
      EXTERNAL_USERS_CLIENT_CLIENT_ID: "EXTERNAL_CLIENT_ID"
      EXTERNAL_USERS_CLIENT_CLIENT_SECRET: "EXTERNAL_CLIENT_SECRET"
      APPLICATION_NOTIFY_KEY: "APPLICATION_NOTIFY_KEY"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-manage-users-api
